{% extends "base.html" %}
{% block content %}
	<div class="col-md-6 mx-auto mt-3">
		<h1>Login Form</h1>

		{% with messages = get_flashed_messages(category_filter=["regi_success"]) %}
		  {% if messages %}
			{% for message in messages %}
		      <p class="text-success">{{ message }}</p>
		    {% endfor %}
			{% endif %}
		{% endwith %}

		{% if error %}
		    <p class=text-danger><strong>Error:</strong> {{ error }} </p>
		{% endif %}

	    <form method="POST">
			{{form.hidden_tag()}}
			<div class="form-group">
				{{form.email.label(class='form-group')}}{{form.email(class='form-control')}}
			</div>
	        <div class="form-group">
	        	{{form.password.label(class='form-group')}}{{form.password(class='form-control')}}
	        </div>
	        <div class="form-group">
	        	{{form.submit(class='btn btn-dark btn-block')}}
	        </div>

	    </form>
	</div>
{% endblock content %}
